@media(max-width: 64rem){
    .nosotros {
        min-height: 100vh;
        font-size: 1.3em;
        margin: 0.5rem;
        padding-left: 5rem;
        justify-content: space-around;
        div{
            p{
            width: 80%
            }
        }
        div {
            img {
                width: 80%;
            }
        }
        
    }
    .contacto{
        width: 100%;
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        font-size: 1.2em;
        .contacto1 {
            width: 80%;
            form{
                p {
                    text-align: center;
                    font-size: 1.5em;
                }
                label{
                    display: flex;
                    flex-direction: column;
                    line-height: 1.7em;
                    letter-spacing: 0.1em;
                    font-weight: normal;
                }
            input {
                width: 80%;
            }
            }
        }
    .contacto2 {
        width: 80%;
        padding: 2rem;
        margin: 2rem;
        height: 30rem;
        h2 {
            width: 90%;
        }
        ul{
            padding: 1rem;
            width: 90%;
        }
        iframe {
            width:80%;
        }
    }
}
}

@media(max-width: 60rem) {
    .transparente {
        background-color: $cambio_transparente;
    }
    .bodyprincipal {
        background-image: none;
        header{
            background-color:$cambio_transparente;
            h1 {
                font-size: 4em;
                text-align: left;
            }
        }
        main{
            min-height: 100vh;
            background-image: url(../assets/images/background_brunch.jpeg);
            background-size: cover;
            @include flex_query;
            nav {
                width: min-content;
            ul {
                padding: 2rem;
                width: fit-content;
                background-color: rgba(255, 255, 255, 0.39);
                border-radius: 0.5rem;
                font-size: 2.5em;
            }
            }
        }
        footer {
            background-color:$cambio_transparente;
        justify-content: center;
        }
    }
    /*HEADER GENERAL*/
    .headergeneral {
        @include flex_query;
        flex-direction: column;
        gap: 1rem;
        h1 {
            font-size: 3em;
        }
        nav {
            ul{
                font-size: 1em;
            }
        }
    }
    /*NOSOTROS*/
    .nosotros {
        min-height: 100vh;
        font-size: 1.3em;
        margin: 0.5rem;
        justify-content: space-around;
        p {
            padding: 0.5rem;
        }
    }
    /*MENU*/
    .menu {
        padding: 1rem;
        line-height: 1.7em;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6,0.5fr);
        grid-template-areas:    "desayuno   cafe"
                                "desayuno    cafe"
                                "almuerzo     almuerzo "
                                "almuerzo     almuerzo  "
                                "postreypaste  brunch"
                                "postreypaste  cajarosa1";
        gap: 1rem;
            h2 {
            font-size: 1.12em;
            }
        .desayuno {
            padding-top: 2rem;
            align-self: center;
            .cafe {
                padding-top: 2rem;
                justify-self: center;
            }
            .brunch {
                padding: 1rem;
                width: 20rem;
                justify-self: center;
            }
            .cajarosa {
                width: 20rem;
                padding: 1rem;
                padding-top: 2.1em;
                justify-self: center;
            }
        }
    }

    /*REGALOS*/
    .regalos {
        margin:4%;
        display: flex;
        justify-content: space-around;
        gap: 2rem;
        line-height: 2.1em;
        .regalos1 {
            width: 40%;
        }
        .regalos2 {
            align-self: center;
        }
    }
    /* CONTACTO */
    .contacto{
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        font-size: 1.2em;
        .contacto1 {
            width: 80%;
            form{
                
                label{
                    display: flex;
                    flex-direction: column;
                    line-height: 1.7em;
                    letter-spacing: 0.1em;
                }
            input {
                width: 80%;
            }
            }
        }
        .contacto2 {
            padding: 0.5rem;
            width: 80%;
            h2 {
                width: 90%;
            }
            ul{
                width: 90%;
            }
            
        }
    }
    .sintaccpag {
        min-height: 100vh;
        .stcomidaypaste {
            width: 80%;
            margin: 3em;
            @include flex_query;
            flex-direction: column;
            gap: 2rem;
        }
        .stpasteleria {
            padding: 1em;
            width: 75%;
            
        }
    }
}

@media (max-width:56.2rem)
{
    .menu {
        padding:0.1rem;
        line-height: 1.7em;
        @include flex_query;
        flex-direction: column;
        text-align: center;
        font-size: 1em;
        .cafe{
            text-align: center;
        }
        .almuerzos {
            width: 80%;
        }
        .cajarosa {
            height: fit-content;
            margin-bottom: 1rem;
        }
    }
    
}
@media(max-width: 48rem) {
    h2{
        font-size: 1.12em;
    }
    /*PRINCIPAL*/
    .bodyprincipal{
        background-image: none;
    .contacto {
        background: linear-gradient(rgb(253, 253, 242), $cambio_transparente);
        }
    .headerprincipal{
        h1 {
        padding: 0.2rem;
        font-size: 3em;
        
        }
    }
    .mainprincipal {
        min-height: 100vh;
        background-image: url(../assets/images/roll.jpeg);
        background-size: cover;
        @include flex_query;
        .navprincipal {
            ul {
            padding: 2rem;
            width: fit-content;
            background-color: rgba(255, 255, 255, 0.39);
            border-radius: 0.5rem;
            font-size: 1.7em;
            }
        }
    }
}
    /*HEADER GRAL*/
    .headergeneral {
        padding: 0.5rem;
        flex-direction: column;
        nav {
            ul {
                font-size: 1em;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
            }
        }        
    }
    
    /*NOSOTROS*/
    .nosotros {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        
        margin: 0.5rem;
        div {
            p {
                @include nosotros_query;
                word-spacing: 0.25em;
                line-height: 1.7em;
                font-size: 0.9em;
                text-align: justify;
            }
        }
        div {
            img {
                @include nosotros_query;
            }
        }
    }
    
    /*MENU*/
    .menu {
        padding:0.1rem;
        line-height: 1.7em;
        @include flex_query;
        flex-direction: column;
        text-align: center;
        font-size: 0.9em;
        .cafe{
            text-align: center;
        }
        .cajarosa {
            width: 80%;
            height: fit-content;
        }
        .brunch {
            width: 80%;
            height: fit-content;
        }
    }
    
    /*REGALOS*/
    .regalos {
        margin: 1rem;
        padding:0.5rem;
        width: 95%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        line-height: 1.5em;
    }
    .regalos1 {
        margin: 0;
        display: flex;
        flex-direction: column;  
        align-items: center; 
        text-align: center;
        h2{
            margin-bottom: 0.5rem;
            }
        ul{
            li {
            margin-bottom: 0.5rem;
            width: 100%;
            }
        }
        }
        .regalos2 {
            @include nosotros_query;
            @include flex_query;
            flex-direction: column;
            text-align: center;
            .cajarosa {
                text-align: center;
                width: 85%;
                height: fit-content;
                padding: 1rem;
            
            }
        }
    

/*SIN TACC*/
.sintaccpag {
    margin: 2rem;
    h2 {
        width: 80%;
        text-align: center;
        align-self: center;
    }
    .stcomidaypaste {
        margin: 1rem;
        display: flex;
        flex-direction: column;
        word-spacing: 0.2em;
        line-height: 2.1em;
        gap: 1rem;
        .stcomida {
            margin:2.5rem;
        }
        .stpasteleria {
            background-color: $caja_rosa ;
            padding: 1em;
            width: fit-content;
        
        }
    }      
}
    }
@media (max-width:20rem) {
    .bodyprincipal{
        main{
            nav {
                width: 80%;
                display: flex;
                align-items: center;
                justify-content: center;
                ul { 
                    width: 100%;
                    margin: 0;
                    li{
                    a {
                        font-size: 0.8em;
                        letter-spacing: normal;
                    }
                }
                }
            }  
        }
    }
    .nosotros {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding-left: 0.2rem;
        div {
            padding: 0.25rem;
            p {
                width: 100%;
                font-size: 0.7em;
                text-align: justify;
            }
        }
        div {
            padding: 0.25rem;
            img {
                width: 100%;
            }
        }
    }   
    .contacto{
        padding: 0.2rem;
        font-size: 0.9em;
        .contacto1 {
            width: 80%;
            form{
                label{
                    line-height: 1.5em;
                }
                input {
                    width: 90%;
                }
            }
        }
        .contacto2 {
            padding: 0.5rem;
            width: 80%;
            justify-content: space-evenly;
            height: fit-content;
            h2 {
                width: 90%;
            }
            ul{
                width: 90%;
            }
            iframe{
                display: none;
            }           
        }
    }
}