.nosotros {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    margin: 1rem;
    div {
        p{
            width: 90%;
            margin:1rem;
            text-align: center;
            word-spacing: 0,25em;
            line-height: 1.7em;
            img{
                width: 90%;
                margin: 1rem;
            }
        }
    }
}